.mainPage {
  width: 70%;
  gap: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postsContainer {
  border-top: 1px solid white;
  padding-top: 60px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.popularPost {
  display: flex;
  width: 60%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .postsContainer {
    border: none;
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 15px 30px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
